{% extends 'main.html' %}
{% load static %}

<!-- head block -->
{% block title %}<title>Заказы | СИНЕРГИЯ</title>{% endblock %}
{% block main-styles %}
<!-- standart-styles -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- main styles -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

<link rel="stylesheet" href="{% static 'manager/css/main.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/header.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/pop-window.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/content.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/side-bar.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/media.css' %}"> 
{% endblock %}


<!-- side bar -->
{% block main-sidebar %}
<li class="nav-item active">
    <a href="http://127.0.0.1:8000/" class="nav-link" aria-current="page">
        <i class="fa fa-calendar"></i><h5>Заказы</h5>
    </a>
</li>
<li class="nav-item">
    <a href="http://127.0.0.1:8000/manager-test" class="nav-link link-body-emphasis">
        <i class="fa fa-calendar"></i><h5>Отказы</h5>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis">
        <i class="fa fa-calendar"></i><h5>Возвраты</h5>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis">
        <i class="fa fa-user-circle"></i><h5>Клиенты</h5>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis">
        <i class="fa fa-gauge-high"></i><h5>Дашбоард</h5>
    </a>
</li>
{% endblock %}

<!-- main content-block -->
{% block main-content %}
<div id="content-block" class="content-block">
<form class="form-body" method="post">
{% csrf_token %}
    <div class="form-body-add-zakaz">
        <h2 class="name-block-input">Новый заказ</h2>
        <div class="form-body-row">

            <div class="form-body-block-input pidel-input">
                {{form.client}}
                <span class="pop-window-open-btn fa fa-plus" onclick="addclient_show()"></span>
            </div>

<!--            <div class="form-body-block-input">-->
<!--                <select name="client-lang">-->
<!--                        <option value="none">Язык</option>-->
<!--                        <option value="rus">Русский</option>-->
<!--                        <option value="ua">Украинский</option>-->
<!--                        <option value="eng">Английский</option>-->
<!--                </select>-->
<!--            </div>-->

            <div class="form-body-block-input">
                {{form.deadline}}
            </div>

            <div class="form-body-block-input">
                {{form.priority}}
            </div>

        </div>
    </div>




    <div class="form-body-add-tovar">
        <h2 class="name-block-input" style="margin-top: 1em;">Товар</h2>
        <div class="form-body-row-block">
            <div class="form-body-row" id="form-body-1-row">

                        <h5>#1</h5>
                        <div class="form-body-block-input pidel-input" id="birzha-name-1-row">
                            {{form.exchange1}}
                            <span data-name="add-btn" class="pop-window-open-btn fa fa-plus" onclick="addbirzh_show()"></span>
                        </div>

                        <div class="form-body-block-input" id="summa-1-row">
                            <input type="number" placeholder="Цена" maxlength="8" type="text"
                            id="input-summa-1-row"
                            onchange="onChange__form(this.value);">
                        </div>


                        <div class="form-body-block-input" id="kolvo-1-row">
                            <input type="number" placeholder="Кол-во" maxlength="8"
                            id="input-kolvo-1-row"
                            onchange="onChange__form(this.value);">
                        </div>

                        <div class="form-body-block-input" id="comment-1-row">
<!--                            <input type="text" placeholder="Коментарий" maxlength="250">-->
                            {{form.comment1}}
                        </div>

                        <div class="form-body-block-input" id="type-email-1-row">
                            <select name="tovar-type-email">
                                <option value="none">Тип почты</option>
                                <option value="gmail">@gmail.com</option>
                                <option value="yandex">@yandex.ru</option>
                                <option value="mail">@mail.ru</option>
                            </select>
                        </div>

                        <div class="form-body-block-input" id="type-number-1-row">
                            <select name="tovar-type-number">
                                <option value="none">Тип телефона</option>
                                <option value="+7">+7</option>
                                <option value="+380">+380</option>
                                <option value="+111">+111</option>
                                <option value="+123">+123</option>
                            </select>
                        </div>

                        <div class="form-body-block-input" id="tovar-emulator-1-row">
                            <select name="tovar-emulator">
                                <option value="none">Эмулятор</option>
                                <option value="BlueStacks">BlueStacks</option>
                                <option value="NoxPlayer">NoxPlayer</option>
                                <option value="MedaiaPlayer">MedaiaPlayer</option>
                            </select>
                        </div>

                        <div class="form-body-block-input" id="tovar-geo-1-row">
                            <select name="tovar-geo">
                                <option value="none">ГЕО</option>
                                {% for geo in geos %}
                                <option value="tovar-geo" default>{{ geo.name }}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <i class="form-body-copy-icon fa fa-clone" aria-hidden="true" onclick="form_body_copy_1_row()"
                        title="Кликните чтобы скопировать все выбранные вариант на следующую строку."></i>

            </div>
            <div class="form-body-row" id="form-body-2-row">
            

                    <h5>#2</h5>
                    <div class="form-body-block-input" id="birzha-name-2-row">
                        <select name="birzha-name">
                                <option value="none">Биржа</option>
                            {% for exchange in exchanges %}
                                <option value="{{ exchange.name }}">{{ exchange.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-body-block-input" id="summa-2-row">
                        <input type="number" placeholder="Цена" maxlength="8"
                        id="input-summa-2-row"
                        onchange="onChange__form(this.value);">
                    </div>

                    <div class="form-body-block-input" id="kolvo-2-row">
                        <input type="number" placeholder="Кол-во" maxlength="8"
                        id="input-kolvo-2-row"
                        onchange="onChange__form(this.value);">
                    </div>

                    <div class="form-body-block-input" id="comment-2-row">
                        <input type="text" placeholder="Коментарий" maxlength="250">
                    </div>

                    <div class="form-body-block-input" id="type-email-2-row">
                        <select name="tovar-type-email">
                            <option value="none">Тип почты</option>
                            <option value="gmail">@gmail.com</option>
                            <option value="yandex">@yandex.ru</option>
                            <option value="mail">@mail.ru</option>
                        </select>
                    </div>

                    <div class="form-body-block-input" id="type-number-2-row">
                        <select name="tovar-type-number">
                            <option value="none">Тип телефона</option>
                            <option value="+7">+7</option>
                            <option value="+380">+380</option>
                            <option value="+111">+111</option>
                            <option value="+123">+123</option>
                        </select>
                    </div>

                    <div class="form-body-block-input" id="tovar-emulator-2-row">
                        <select name="tovar-emulator">
                            <option value="none">Эмулятор</option>
                            <option value="BlueStacks">BlueStacks</option>
                            <option value="NoxPlayer">NoxPlayer</option>
                            <option value="MedaiaPlayer">MedaiaPlayer</option>
                        </select>
                    </div>

                    <div class="form-body-block-input" id="tovar-geo-2-row">
                        <select name="tovar-geo">
                            <option value="none">ГЕО</option>
                            {% for geo in geos %}
                            <option value="tovar-geo" default>{{ geo.name }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <i class="form-body-copy-icon fa fa-clone" aria-hidden="true" onclick="form_body_copy_2_row()"
                    title="Кликните чтобы скопировать все выбранные вариант на следующую строку."></i>

            </div>
            <div class="form-body-row" id="form-body-3-row">

                        <h5>#3</h5>
                        <div class="form-body-block-input" id="birzha-name-3-row">
                            <select name="birzha-name">
                                    <option value="none">Биржа</option>
                                {% for exchange in exchanges %}
                                    <option value="birzha-name">{{ exchange.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-body-block-input" id="summa-3-row">
                            <input type="number" placeholder="Цена" maxlength="8"
                            id="input-summa-3-row"
                            onchange="onChange__form(this.value);">
                        </div>

                        <div class="form-body-block-input" id="kolvo-3-row">
                            <input type="number" placeholder="Кол-во" maxlength="8"
                            id="input-kolvo-3-row"
                            onchange="onChange__form(this.value);">
                        </div>

                        <div class="form-body-block-input" id="comment-3-row">
                            <input type="text" placeholder="Коментарий" maxlength="250">
                        </div>

                        <div class="form-body-block-input" id="type-email-3-row">
                            <select name="tovar-type-email">
                                <option value="none">Тип почты</option>
                                <option value="gmail">@gmail.com</option>
                                <option value="yandex">@yandex.ru</option>
                                <option value="mail">@mail.ru</option>
                            </select>
                        </div>

                        <div class="form-body-block-input" id="type-number-3-row">
                            <select name="tovar-type-number">
                                <option value="none">Тип телефона</option>
                                <option value="+7">+7</option>
                                <option value="+380">+380</option>
                                <option value="+111">+111</option>
                                <option value="+123">+123</option>
                            </select>
                        </div>

                        <div class="form-body-block-input" id="tovar-emulator-3-row">
                            <select name="tovar-emulator">
                                <option value="none">Эмулятор</option>
                                <option value="BlueStacks">BlueStacks</option>
                                <option value="NoxPlayer">NoxPlayer</option>
                                <option value="MedaiaPlayer">MedaiaPlayer</option>
                            </select>
                        </div>

                        <div class="form-body-block-input" id="tovar-geo-3-row">
                            <select name="tovar-geo">
                                <option value="none">ГЕО</option>
                                {% for geo in geos %}
                                <option value="tovar-geo" default>{{ geo.name }}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <i class="form-body-copy-icon fa fa-clone" aria-hidden="true" onclick="form_body_copy_3_row()"
                        title="Кликните чтобы скопировать все выбранные вариант на следующую строку."></i>
            </div>
            <div class="form-body-row" id="form-body-4-row">

                <h5>#4</h5>
                <div class="form-body-block-input" id="birzha-name-4-row">
                    <select name="birzha-name">
                            <option value="none">Биржа</option>
                        {% for exchange in exchanges %}
                            <option value="birzha-name">{{ exchange.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-body-block-input" id="summa-4-row">
                    <input type="number" placeholder="Цена" maxlength="8"
                    id="input-summa-4-row"
                    onchange="onChange__form(this.value);">
                </div>

                <div class="form-body-block-input" id="kolvo-4-row">
                    <input type="number" placeholder="Кол-во" maxlength="8"
                    id="input-kolvo-4-row"
                    onchange="onChange__form(this.value);">
                </div>

                <div class="form-body-block-input" id="comment-4-row">
                    <input type="text" placeholder="Коментарий" maxlength="250">
                </div>

                <div class="form-body-block-input" id="type-email-4-row">
                    <select name="tovar-type-email">
                        <option value="none">Тип почты</option>
                        <option value="gmail">@gmail.com</option>
                        <option value="yandex">@yandex.ru</option>
                        <option value="mail">@mail.ru</option>
                    </select>
                </div>

                <div class="form-body-block-input" id="type-number-4-row">
                    <select name="tovar-type-number">
                        <option value="none">Тип телефона</option>
                        <option value="+7">+7</option>
                        <option value="+380">+380</option>
                        <option value="+111">+111</option>
                        <option value="+123">+123</option>
                    </select>
                </div>

                <div class="form-body-block-input" id="tovar-emulator-4-row">
                    <select name="tovar-emulator">
                        <option value="none">Эмулятор</option>
                        <option value="BlueStacks">BlueStacks</option>
                        <option value="NoxPlayer">NoxPlayer</option>
                        <option value="MedaiaPlayer">MedaiaPlayer</option>
                    </select>
                </div>

                <div class="form-body-block-input" id="tovar-geo-4-row">
                    <select name="tovar-geo">
                        <option value="none">ГЕО</option>
                        {% for geo in geos %}
                        <option value="tovar-geo" default>{{ geo.name }}</option>
                    {% endfor %}
                    </select>
                </div>

                <i class="form-body-copy-icon fa fa-clone" aria-hidden="true" onclick="form_body_copy_4_row()"
                title="Кликните чтобы скопировать все выбранные вариант на следующую строку."></i>
    </div>

            <div class="form-body-row" id="form-body-5-row">

                <h5>#5</h5>
                <div class="form-body-block-input" id="birzha-name-5-row">
                    <select name="birzha-name">
                            <option value="none">Биржа</option>
                        {% for exchange in exchanges %}
                            <option value="birzha-name">{{ exchange.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-body-block-input" id="summa-5-row">
                    <input type="number" placeholder="Цена" maxlength="8"
                    id="input-summa-5-row"
                    onchange="onChange__form(this.value);">
                </div>

                <div class="form-body-block-input" id="kolvo-5-row">
                    <input type="number" placeholder="Кол-во" maxlength="8"
                    id="input-kolvo-5-row"
                    onchange="onChange__form(this.value);">
                </div>

                <div class="form-body-block-input" id="comment-5-row">
                    <input type="text" placeholder="Коментарий" maxlength="250">
                </div>

                <div class="form-body-block-input" id="type-email-5-row">
                    <select name="tovar-type-email">
                        <option value="none">Тип почты</option>
                        <option value="gmail">@gmail.com</option>
                        <option value="yandex">@yandex.ru</option>
                        <option value="mail">@mail.ru</option>
                    </select>
                </div>

                <div class="form-body-block-input" id="type-number-5-row">
                    <select name="tovar-type-number">
                        <option value="none">Тип телефона</option>
                        <option value="+7">+7</option>
                        <option value="+380">+380</option>
                        <option value="+111">+111</option>
                        <option value="+123">+123</option>
                    </select>
                </div>

                <div class="form-body-block-input" id="tovar-emulator-5-row">
                    <select name="tovar-emulator">
                        <option value="none">Эмулятор</option>
                        <option value="BlueStacks">BlueStacks</option>
                        <option value="NoxPlayer">NoxPlayer</option>
                        <option value="MedaiaPlayer">MedaiaPlayer</option>
                    </select>
                </div>

                <div class="form-body-block-input" id="tovar-geo-5-row">
                    <select name="tovar-geo">
                        <option value="none">ГЕО</option>
                        {% for geo in geos %}
                        <option value="tovar-geo" default>{{ geo.name }}</option>
                    {% endfor %}
                    </select>
                </div>

                <i class="form-body-copy-icon fa fa-clone" aria-hidden="true" onclick="form_body_copy_5_row()"
                title="Кликните чтобы скопировать все выбранные вариант на следующую строку."></i>
                
                </div>


        </div>
    </div>

    <div class="body-form-block-btn mt-4">

        <div class="body-form-block-summa mb-2">
            <h4>Общая сумма: <span id="form_summa_vivod">0</span>$</h4>
            <input type="hidden" id="summ" name="summ" value="0">
        </div>
        
        <div class="df">
            <button class="btn btn-primary btn-add-zakaz">Добавить заказ</button>
<!--            <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">-->
<!--            <label class="form-body-label-btn noselect" for="btn-check-2" id="form-body-label-btn">Связка</label>-->
            {{ form.bundle }}
            <label for="{{ form.bundle.id_for_label }}" class="form-body-label-btn noselect" id="form-body-label-btn">
                {{ form.bundle.label }}</label>
        </div>

    </div>


    <hr>
    <div class="form-list-zakazi-block">

        <h3 class="form-list-zakazi-name mb-3">Мои заказы</h3>

        <div class="form-list-zakazi">
            <div class="form-table-name mb-2">
                <h5>Номер заказа</h5>
                <h5>Дата</h5>
                <h5>Срок</h5>
                <h5>Клиент</h5>
                <h5>Сумма</h5>
                <h5>Статус</h5>
            </div>


            <!-- Вот сюда надо данные из бд -->
            <div class="form-table">

                <div>
                    <h5>1541</h5>

                    <h5>1541</h5>

                    <h5>1541</h5>

                    <h5>1541</h5>

                    <h5>1541</h5>

                    <h5>1541</h5>
                </div>

                <div>
                    <h5>01.05.2023 15:10:51</h5>

                    <h5>01.05.2023 15:10:51</h5>

                    <h5>01.05.2023 15:10:51</h5>

                    <h5>01.05.2023 15:10:51</h5>

                    <h5>01.05.2023 15:10:51</h5>
                    
                    <h5>01.05.2023 15:10:51</h5>
                </div>

                <div>
                    <h5>02.05.2023 15:10:51</h5>

                    <h5>02.05.2023 15:10:51</h5>

                    <h5>02.05.2023 15:10:51</h5>

                    <h5>02.05.2023 15:10:51</h5>

                    <h5>02.05.2023 15:10:51</h5>
                    
                    <h5>02.05.2023 15:10:51</h5>
                </div>
                
                <div>
                {% for client in clients %}

                    <h5>@{{ client.name }}</h5>

                {% endfor %}
                </div>
                
                <div>
                    <h5>500$</h5>

                    <h5>500$</h5>

                    <h5>500$</h5>

                    <h5>500$</h5>

                    <h5>500$</h5>

                    <h5>500$</h5>
                </div>
                
                <div>
                    <h5>Отгружен</h5>

                    <h5>Отгружен</h5>

                    <h5>Отгружен</h5>

                    <h5>Отгружен</h5>

                    <h5>Отгружен</h5>

                    <h5>Отгружен</h5>
                </div>
            </div>

        </div>



        <div class="form-list-btn mt-5">
<!--                <i class="fa fa-backward" aria-hidden="true"></i>  -->
            <i class="fa fa-angle-left" onclick="table_page_left()" aria-hidden="true"></i>

            <h5 class="form-list-page-number">
                Страница
                <span id="table-page-number">1</span>
                Из
                <span id="table-full-page">3</span>
            </h5>

            <i class="fa fa-angle-right" onclick="table_page_right()" aria-hidden="true"></i>
<!--                <i class="fa fa-forward" aria-hidden="true"></i> -->
        </div>
    </div>
</form>


<footer class="mt-5 mb-3">
    <h5>@ 2023 Synergy Company</h5>
</footer>



</div>
{% endblock %}

<!-- main pop-window-block -->
{% block main-pop-window %}
<div id="pop-add-client" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="addclient_close()"></i>

        <div class="block-new-client">
            <h3>Новый клиент</h2>
            <form action="#" class="form-new-client">
                <input type="text" placeholder="Ник клиента">
                <input type="text" placeholder="Телеграм клиента">
                <button class="btn btn-primary">Добавить клиента</button>
            </form>
        </div>
    </div>
</div>
<div id="pop-add-birzh" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="addbirzh_close()"></i>

        <div class="block-new-birzha">
            <h3>Новая биржа</h2>
            <form action="#" class="form-new-birzha">
                <input type="text" placeholder="Название биржы">
                <button class="btn btn-primary">Добавить биржу</button>
            </form>
        </div>
    </div>
</div> 
{% endblock %}


<!-- main scripts-block -->
{% block main-scripts %}
<script src="{% static 'manager/js/jquery.js' %}"></script>
<script src="https://kit.fontawesome.com/419032dc53.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'manager/js/main.js' %}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{% endblock %}