{% load static %}
{% load i18n static %}

<div id="pop-add-client" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="addclient_close()"></i>

        <div class="block-new-client">
            <h3>Новый клиент</h2>
            <form action="#" class="form-new-client">
                <input type="text" placeholder="Ник клиента">
                <input type="text" placeholder="Телеграм клиента">
                <button class="btn btn-primary">Добавить клиента</button>
            </form>
        </div>
    </div>
</div>

<div id="pop-add-birzh" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="addbirzh_close()"></i>

        <div class="block-new-client">
            <h3>Новая биржа</h2>
            <form action="#" class="form-new-client">
                <input type="text" placeholder="Название биржы">
                <button class="btn btn-primary">Добавить биржу</button>
            </form>
        </div>
    </div>
</div>






<div class="form-body-block-input pidel-input clone-geo">
    <select name="tovar-geo">
        <option value="none">ГЕО</option>
        {% for geo in geos %}
        <option value="tovar-geo" default>{{ geo.name }}</option>
    {% endfor %}
    </select>
    <span data-name="add-btn" class="pop-window-open-btn clone-geo-remove fa fa-minus" onclick="remove_geo_clone()"></span>
    </select>
</div>
