{% load static %}
{% load i18n static %}

<div class="body-content">
    <div id="side-bar" class="side-bar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">

            <div class="side-bar-block-link">
                <a href="/" class="d-flex align-items-center justify-content-center mb-3 mt-1 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <img src="{% static 'manager/img/logo.svg' %}" alt="">
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link" aria-current="page">
                        <i class="fa fa-calendar"></i><h5>Заказы</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link link-body-emphasis">
                        <i class="fa fa-calendar"></i><h5>Отказы</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link link-body-emphasis">
                        <i class="fa fa-calendar"></i><h5>Возвраты</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link link-body-emphasis">
                        <i class="fa fa-user-circle"></i><h5>Клиенты</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link link-body-emphasis">
                        <i class="fa fa-gauge-high"></i><h5>Дашбоард</h5>
                    </a>
                </li>
                </ul>
            </div>

            

    </div>