{% extends '--main/main.html' %}
{% load static %}

<!-- head block -->
{% block title %}Отказы {% endblock %}
{% block main-styles %}
<!-- standart-styles -->
<link rel="stylesheet" href="{% static 'production/css/main.css' %}">
<link rel="stylesheet" href="{% static 'production/css/window.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.css" integrity="sha512-SWjZLElR5l3FxoO9Bt9Dy3plCWlBi1Mc9/OlojDPwryZxO0ydpZgvXMLhV6jdEyULGNWjKgZWiX/AMzIvZ4JuA==" crossorigin="anonymous" referrerpolicy="no-referrer" />{% endblock %}

<!-- side bar -->
{% block main-sidebar %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link" aria-current="page">
        <i class="fa fa-calendar"></i><h5>Заказы</h5>
    </a>
</li>
<li class="nav-item active">
    <a href="{% url 'refusals' %}" class="nav-link">
        <i class="fa fa-calendar"></i><h5>Отказы</h5>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'refunds' %}" class="nav-link">
        <i class="fa fa-calendar"></i><h5>Возвраты</h5>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'clients' %}" class="nav-link">
        <i class="fa fa-user-circle"></i><h5>Клиенты</h5>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'dashboard' %}" class="nav-link">
        <i class="fa fa-gauge-high"></i><h5>Дашбоард</h5>
    </a>
</li>
{% endblock %}

<!-- main content-block -->
{% block main-content %}
    <div class="up-container">
        <div class="checkbox-block">
            <h2 class="head-name checkbox-name">Было на утро</h2>

            <label class="checkbox-label">
                <input type="checkbox">
                <span class="checkbox-switch"></span>
            </label>

            <h2 class="head-name checkbox-name">На сейчас <p>По плану утра</p></h2>
        </div>
        
        <div class="zoom-level-block">
            <h2 class="head-name zoom-level-name">Масштаб</h2>

            <div class="zoom-level">
                <input type="text" value="100">
            </div>
        </div>
    </div>

    <div class="region-block">
        
        <div class="region region-eu">

            <div class="region-name">
                <h1>89%</h1>
                <h1>EU</h1>
            </div>

            <div class="manager-block">
                <div class="manager">
                    <h2 class="manager-name">Ирина</h2>
                    <h4 class="manager-percentage">117%</h4>
                    <ul class="list-group">
                      <li class="list-group-item" data-id="1" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="2" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="3" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="4" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="5" draggable="true">
                        <img src="{% static 'production/img/revolut-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="6" draggable="true">
                        <img src="{% static 'production/img/revolut-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="7" draggable="true">
                        <img src="{% static 'production/img/wise-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="8" draggable="true">
                        <img src="{% static 'production/img/wise-logo.png' %}" draggable="false" alt="">
                      </li>
                    </ul>
                </div>
              
                <div class="manager">
                    <h2 class="manager-name">Дмитрий</h2>
                    <h4 class="manager-percentage">97%</h4>
                    <ul class="list-group"></ul>
                </div>
              
                <div class="manager">
                    <h2 class="manager-name">Геннадий</h2>
                    <h4 class="manager-percentage">92%</h4>
                    <ul class="list-group"></ul>
                </div>
              
                <div class="manager">
                    <h2 class="manager-name">Максим</h2>
                    <h4 class="manager-percentage">86%</h4>
                    <ul class="list-group"></ul>
                </div>
            </div>
        </div>

                
        <div class="region region-ru">

            <div class="region-name">
                <h1>75%</h1>
                <h1>RU</h1>
            </div>

            <div class="manager-block">
                <div class="manager">
                    <h2 class="manager-name">Ирина</h2>
                    <h4 class="manager-percentage">95%</h4>
                    <ul class="list-group"></ul>
                </div>
                <div class="manager">
                    <h2 class="manager-name">Генадий</h2>
                    <h4 class="manager-percentage">75%</h4>
                    <ul class="list-group"></ul>
                </div>
                <div class="manager">
                    <h2 class="manager-name">Дима</h2>
                    <h4 class="manager-percentage">55%</h4>
                    <ul class="list-group"></ul>
                </div>
                <div class="manager">
                    <h2 class="manager-name">Антон</h2>
                    <h4 class="manager-percentage">25%</h4>
                    <ul class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>

    <div class="new-orders">
            <div class="orders-block-name">
                <h5 class="orders-name">НОВЫЕ ЗАКАЗЫ</h5>
            </div>
            <div class="orders-list-block">
                <div class="orders-list-binanace">
                    <ul class="list-group">
                      <li class="list-group-item" data-id="1" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="2" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="3" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="4" draggable="true">
                        <img src="{% static 'production/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                    </ul>
                </div>
                <div class="orders-list-wise">
                    <ul class="list-group">
                      <li class="list-group-item" data-id="7" draggable="true">
                        <img src="{% static 'production/img/wise-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="8" draggable="true">
                        <img src="{% static 'production/img/wise-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="8" draggable="true">
                        <img src="{% static 'production/img/wise-logo.png' %}" draggable="false" alt="">
                      </li>
                    </ul>
                </div>
                <div class="orders-list-revolut">
                    <ul class="list-group">
                      <li class="list-group-item" data-id="5" draggable="true">
                        <img src="{% static 'production/img/revolut-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="6" draggable="true">
                        <img src="{% static 'production/img/revolut-logo.png' %}" draggable="false" alt="">
                      </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- main pop-window-block -->
{% block main-pop-window %}
<div id="view-manager" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="view_manager_close()"></i>
        <div class="pop-window-block">
            <h2 class="pop-window-name">Менеджер: <span class="pop-window-manager">User</span></h2>
            <div class="pop-window-top-block">
                <h5 class="pop-window-top-name">Топ бирж умеет:</h5>
                <h5 class="pop-window-top-element">RevoEU</h5>
                <h5 class="pop-window-top-element">ByBitEU</h5>
                <h5 class="pop-window-top-element">Zen EU</h5>
                <h5 class="pop-window-top-element">Nebeus EU</h5>
                <h5 class="pop-window-top-element">Bunq EU</h5>
            </div>
        </div>
    </div>
</div>
<div id="move-manager" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="move_manager_close()"></i>
        <div class="pop-window-block">
            <h2 class="pop-window-name">Менеджер: <span class="pop-window-manager">User</span></h2>
            <div class="pop-window-move-block">
                Переместить куда:
            </div>
        </div>
    </div>
</div>
<div id="remove-manager" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="remove_manager_close()"></i>
        <div class="pop-window-block">
            <button class="pop-window-btn pop-window-remove-btn">Удалить</button>
        </div>
    </div>
</div>
{% endblock %}

<!-- block notifications -->
{% block notifications %}
<div class="notifications-container">
    <h3 class="notifications-container-name">Уведомления</h3>
    <div class="notification">
        <i class="notificate-close fa fa-times"></i>
        <h4 class="notificate-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</h4>
    </div>
    <div class="notification">
        <i class="notificate-close fa fa-times"></i>
        <h4 class="notificate-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</h4>
    </div>
    <div class="notification">
        <i class="notificate-close fa fa-times"></i>
        <h4 class="notificate-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</h4>
    </div>
    <div class="notification">
        <i class="notificate-close fa fa-times"></i>
        <h4 class="notificate-text">Lorem ipsum, dolor sit amet consectetur adipisicing.</h4>
    </div>
</div>
{% endblock %}

<!-- main scripts-block -->
{% block main-scripts %}
<script src="{% static 'production/js/main.js' %}"></script>
<script src="{% static 'production/js/drag-and-drop.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.min.js" integrity="sha512-878jmOO2JNhN+hi1+jVWRBv1yNB7sVFanp2gA1bG++XFKNj4camtC1IyNi/VQEhM2tIbne9tpXD4xaPC4i4Wtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.js" integrity="sha512-kvg/Lknti7OoAw0GqMBP8B+7cGHvp4M9O9V6nAYG91FZVDMW3Xkkq5qrdMhrXiawahqU7IZ5CNsY/wWy1PpGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}