:root {
    --main-color: rgb(0, 76, 255);
    --whitegray-color: rgb(200, 200, 200);


    --input-left-bar-input-width: 200px;
    --input-small-width: 11.5%;
    --input-big-width: 23.5%;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/* main */
body {
    display: flex;
}
.none-scroll {
    position: fixed; 
    overflow-y:scroll;
}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.body-content {
    display: flex;
    width: 100%;
    padding-top: 30px;
}
