.side-bar {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 225px;
    width: 225px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(56, 68, 64);
}
.side-bar.active {
    margin-left: -225px;
}
.side-bar-block-link {
    width: 100%;
}
.side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90vh;
}


.side-bar-block-link a:first-child img {
    width: 150px;
}
.side-bar ul {
    grid-gap: 5px;
}
.nav-link {
    display: flex;
    grid-gap: 10px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    align-items: flex-start;
}
.nav-link h5, .nav-link h5:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.nav-link {
    padding: 1em 1.5em 0.5em 1.2em;
}
.nav-item {
    transition: .5s;
    border-radius: 7.5px;
}
.nav-item.active, .nav-item.active:hover {
    background-color: var(--main-color);
}
.nav-item:hover {
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.057);
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: white;
}