:root {
    --main-color: rgb(0, 76, 255);
    --whitegray-color: rgb(200, 200, 200);


    --input-left-bar-input-width: 150px;
    --input-big-width: 23.5%;
    --input-small-width: 11.5%;
}


.form-body-row-block hr {
    margin: 2em 0em;
    color: #383838;
}
.form-body-row-block hr:first-child {
    margin-top: 0;
}


.btn-primary:focus, .btn-primary:focus:active, .btn-primary.active:focus, .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
input, input:active,
input:focus, input:hover  {
    height: 40px;
    outline: 0;
    border: 0.3px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 0.3em;
}
input:active,
input:focus, input:hover {
    border: 0.7px solid rgb(168, 168, 168);
}


body {
    display: flex;
    height: 100%;
}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.body-content {
    display: flex;
    width: 100%;
    height: 100%;
}
.side-bar {
    background-color: rgb(56, 68, 64);
}
.left-bar {
    display: flex;
    flex-direction: column;
}
#header {
    background-color: rgb(33, 38, 41);
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 0.5em;
}





/* LEFT BAR */
.left-bar {
    border-left: 1px solid #000;
    grid-gap: 3em;
}
.block-new-client:first-child {
    margin-top: 1.5em;
}


.form-new-client {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    margin-top: 1.5em;
    grid-gap: 10px;
}
.form-new-client button, .form-new-client button:hover, 
.form-new-client button:focus, .form-new-client button:active,
.form-new-client button:active:focus {
    width: fit-content;
    background-color: var(--main-color);
    border: 0;
    outline: 0;
    box-shadow: none;
}


.form-new-client input {
    padding-left: .7em;
    width: var(--input-left-bar-input-width);
}

/* left bar animation */
.left-bar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -400px;
    overflow-x: hidden;
    transition: 0.5s;
    background: white;
    padding: 1em;
}
.left-bar-close-btn {
    font-size:25px;
    cursor:pointer;
    color: black;
    border: 0;
    text-decoration: none;
}
.left-bar.active {
    right: 0;
}


.side-bar {
    display: flex;
    flex-direction: column;
    flex: 1 1 225px;
    min-height: 100vh;
    max-width: 225px;
    overflow-x: hidden;
    transition: 0.5s;
}
.side-bar.active {
    margin-left: -225px;
}
#openSide_bar {
    display: none;
    font-size: 20px;
    cursor: pointer;
    padding-right: 1em;
    transition: .2s;
}
#openSide_bar.active {
    display: inline-block;
    color: white;
}
#closeSide_bar {
    color: white;
    font-size: 20px;;
    cursor: pointer;
}
#closeSide_bar.active {
    display: none;
}
.side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90vh;
}


.side-bar a:first-child img {
    margin-top: 1em;
}
.side-bar ul {
    grid-gap: 5px;
}
.nav-link {
    display: flex;
    grid-gap: 10px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    align-items: flex-start;
}
.nav-link h5, .nav-link h5:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.nav-link {
    padding: 1em 1.5em 0.5em 1.2em;
}
.nav-item {
    transition: .5s;
    border-radius: 7.5px;
}
.nav-item.active, .nav-item.active:hover {
    background-color: var(--main-color);
}
.nav-item:hover {
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.057);
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: white;
}




/*
.block-content-zakazi {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 2em 2em 0 2em;
}
.block-zakazi {
    max-height: 500px;
    overflow-y: scroll;
}
.block-content-zakazi::-webkit-scrollbar { width: 0 !important }
.block-zakazi div {
    grid-gap: 10px;
}
.block-zakazi div:nth-child(3n) {
    margin-bottom: 1em;
}
.product {
    background: red;
}
.manager {
    background: green;
}
.client {
    background: yellow;
}
*/




/* body-content */
.content-block {
    padding: 1.5em .3em 1.5em 1.5em;
    transition: .5s;
    grid-gap: 50px;
    flex: 1;
}
.content-block.active-content-block {
    transition: .5s;
}


.form-body-add-zakaz, .form-body-add-tovar {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin-left: .5em;
    flex-wrap: wrap;
}
.form-body-row-block {
    overflow-y: scroll;
    height: 250px;
}


.form-body-row {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
}

.form-body-block-input  {
    display: flex;
    width: var(--input-big-width);
    min-width: 180px;
    grid-gap: 2.5px;
}
.form-body-block-input input {
    width: 100%;
}

.form-body-upload-input {
    color: rgb(117, 117, 117);
}
.form-body-upload-input::-webkit-file-upload-button {
    border: 0;
    outline: 0;
    display: none;
}

.pidel-input input {
    width: 80%;
}
.date-input {
    width: 100%;
}


.left-bar-open-btn {
    width: 20%;
}
.left-bar-open-btn::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;


    font-size: 30px;
    cursor:pointer;
    color: rgb(70, 70, 70);
    cursor: pointer;
    border: 0.3px solid var(--whitegray-color);
}
.date-calendar-input::-webkit-datetime-edit, .date-text-input::-webkit-calendar-picker-indicator {
    display: none;
}




.form-body-add-tovar .form-body-row .form-body-block-input {
    width: var(--input-small-width);
}

.body-form-block-btn {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding-top: 1em;
}
.form-body-label-btn {
    color: var(--main-color);
    border-radius: 2.5px;
    outline: 1px solid var(--main-color);
    padding: 6px 12px;
    cursor: pointer;
    transition: .2s;
}
.form-body-label-btn.active {
    background-color: rgba(0, 76, 255, 0.148);
    transition: .2s;
}


@media (max-width: 425px) {
    .side-bar {
        position: absolute;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        left: 0;
    }

    .side-bar.active {
        left: -100vw;
    }
    .content-block.active-content-block {
        margin: 0;
    }

}
