:root {
    --main-color: rgb(0, 76, 255);
    --whitegray-color: rgb(200, 200, 200);


    --input-left-bar-input-width: 200px;
    --input-small-width: 11.5%;
    --input-big-width: 23.5%
}


.form-body-row-block hr {
    margin: 2em 0em;
    color: #383838;
}
.form-body-row-block hr:first-child {
    margin-top: 0;
}


.btn-primary:focus, .btn-primary:focus:active, .btn-primary.active:focus, .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
select,
select:active,
select:focus,
select:hover,
input,
input:active,
input:focus, 
input:hover  {
    height: 40px;
    outline: 0;
    border: 0.3px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 0.3em;
    color: rgb(107, 107, 107);
}
select:hover,
input:hover {
    border: 0.7px solid rgb(168, 168, 168);
}


body {
    display: flex;
    height: 100%;
}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.body-content {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.side-bar {
    background-color: rgb(56, 68, 64);
}
.left-bar {
    display: flex;
    flex-direction: column;
}
#header {
    background-color: rgb(33, 38, 41);
    display: flex;
    position: fixed;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0.5em;
    z-index: 4;
}



/* Лого юзера */
.header-user-icon {
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
    margin-right: 5px;
}
/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #ffffff00;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: .3s;
    margin-right: 1em;
    width: 120px;
  }
  
  /* Кнопка выпадающего меню при наведении и фокусировке */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff37;
    transition: .3s;
  }
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
  .user-tools {
    position: relative;
    display: inline-block;
    float: left;
  }
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
  .dropdown-content {
    display: none;
    background-color: #8a8a8a;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 5;
  }
  
  /* Ссылки внутри выпадающего списка */
  .dropdown-content a, .dropdown-content #logout-form button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 15px;
    border: 0;
    outline: 0;
    background-color: #ffffff37;
    width: 120px;
    padding: 10px 0;
    right: 0px;
  }
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
  .show {display:block;}


.block-new-client:first-child {
    margin-top: 1.5em;
}


.form-new-client {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    margin-top: 1.5em;
    grid-gap: 10px;
}
.form-new-client button, .form-new-client button:hover, 
.form-new-client button:focus, .form-new-client button:active,
.form-new-client button:active:focus {
    width: fit-content;
    background-color: var(--main-color);
    border: 0;
    outline: 0;
    box-shadow: none;
}


.form-new-client input {
    padding-left: .7em;
    width: var(--input-left-bar-input-width);
}

/* left bar animation */
.pop-container {
    background: rgb(218, 218, 218);
    letter-spacing: 1px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 2.3em;
}
.left-bar {
    transform: scale(0);
    transition: .3s;


    position: absolute;
    top: 0px;
    z-index: 1;
    min-height: 100vh;
    max-height: 100%;
    min-width: 100%;

    background: rgba(0, 0, 0, 0.405);

    align-items: center;
    justify-content: center;
}

.left-bar-close-btn {
    font-size:25px;
    cursor:pointer;
    color: black;
    border: 0;
    text-decoration: none;
    margin: 0.5em;
}
.left-bar.active {
    transform: scale(1);
    transition: .3s;
}
.left-bar div form input {
    width: var(--input-left-bar-input-width);
}
.block-new-client {
    padding: 1em 4em 3em 3em;
}




.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 225px;
    min-height: 100vh;
    max-width: 225px;
    overflow-x: hidden;
    transition: 0.5s;
}
.side-bar.active {
    margin-left: -225px;
}
#openSide_bar {
    display: none;
    font-size: 20px;
    cursor: pointer;
    padding-right: 1em;
    transition: .2s;
}
#openSide_bar.active {
    display: inline-block;
    color: white;
}
#closeSide_bar {
    color: white;
    font-size: 20px;;
    cursor: pointer;
}
#closeSide_bar.active {
    display: none;
}
.side-bar-block-link {
    width: 100%;
}
.side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 90vh;
}


.side-bar-block-link a:first-child img {
    width: 150px;
}
.side-bar ul {
    grid-gap: 5px;
}
.nav-link {
    display: flex;
    grid-gap: 10px;
    color: white;
    font-weight: 900;
    font-size: 15px;
    align-items: flex-start;
}
.nav-link h5, .nav-link h5:hover {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.nav-link {
    padding: 1em 1.5em 0.5em 1.2em;
}
.nav-item {
    transition: .5s;
    border-radius: 7.5px;
}
.nav-item.active, .nav-item.active:hover {
    background-color: var(--main-color);
}
.nav-item:hover {
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.057);
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
    color: white;
}




/* body-content */
.content-block {
    padding: 1.5em .3em 1.5em 1.5em;
    transition: .5s;
    grid-gap: 50px;
    flex: 1;
}
.content-block.active-content-block {
    transition: .5s;
}


.form-body-add-zakaz, .form-body-add-tovar {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin-left: .5em;
    flex-wrap: wrap;
}


.form-body-row {
    display: flex;
    grid-gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
}

.form-body-block-input  {
    display: flex;
    width: var(--input-big-width);
    min-width: 180px;
    grid-gap: 2.5px;
}
.form-body-block-input input,
.form-body-block-input select {
    width: 100%;
}

.form-body-upload-input {
    color: rgb(117, 117, 117);
}
.form-body-upload-input::-webkit-file-upload-button {
    border: 0;
    outline: 0;
    display: none;
}



.form-body-row-block {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

.form-body-add-tovar .form-body-block-input {
    width: 160px;
    min-width: unset;
}

.form-body-add-tovar .form-body-row h5:first-child {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
}
.form-body-add-tovar .form-body-row .form-body-block-input:nth-child(1)
{
    display: flex;
    align-items: center;
}
.form-body-add-tovar .form-body-row .form-body-block-input:nth-child(2),
.form-body-add-tovar .form-body-row .form-body-block-input:nth-child(3) 
{
    width: 85px;
}

.form-body-add-tovar .form-body-row .form-body-block-input:nth-child(4) 
{
    width: 250px;
}



.date-input {
    width: 100%;
}


.form-body-add-zakaz .left-bar-open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
}

.form-body-add-tovar .left-bar-open-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
}
.left-bar-open-btn::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;


    font-size: 30px;
    cursor:pointer;
    color: rgb(70, 70, 70);
    cursor: pointer;
    border: 0.3px solid var(--whitegray-color);
}
.date-calendar-input::-webkit-datetime-edit, .date-text-input::-webkit-calendar-picker-indicator {
    display: none;
}


.body-form-block-btn {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding-top: 1em;
}
.form-body-label-btn {
    color: var(--main-color);
    border-radius: 2.5px;
    outline: 1px solid var(--main-color);
    padding: 6px 12px;
    cursor: pointer;
    transition: .2s;
}
.form-body-label-btn.active {
    background-color: rgba(0, 76, 255, 0.148);
    transition: .2s;
}


@media (max-width: 425px) {
    .dropbtn {
        margin-right: 0.5em;
    }


    .side-bar {
        position: fixed;
        z-index: -1;
        width: 100vw;
        max-width: unset;
        left: 0;
    }

    .side-bar.active {
        left: -100vw;
    }

    .content-block {
        z-index: -2;

        position: absolute;
        right: -100vw;
        width: 100vw;
    }
    .content-block.active-content-block {
        right: 0;
    }


    .form-body-add-tovar .form-body-row .form-body-block-input:nth-child(2),
    .form-body-add-tovar .form-body-row .form-body-block-input:nth-child(3) 
    {
        width: 100%;
        max-width: 120px;
    }


    .form-body-add-tovar .form-body-row .form-body-block-input,
    .form-body-add-zakaz .form-body-block-input 
    {
        width: 100%;
        max-width: 250px;
    }
}
