{% extends 'main.html' %}
{% load static %}

<!-- head block -->
{% block title %}<title>Заказы | Synergy #2</title>{% endblock %}
{% block main-styles %}
<!-- standart-styles -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- main styles -->
<link rel="stylesheet" href="{% static 'manager/css/main.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/header.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/content.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/side-bar.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/media.css' %}"> 

<link rel="stylesheet" href="{% static 'manager-test/css/main.css' %}">
{% endblock %}


<!-- side bar -->
{% block main-sidebar %}
<li class="nav-item">
    <a href="http://127.0.0.1:8000/" class="nav-link" aria-current="page">
        <i class="fa fa-calendar"></i><h5>Заказы</h5>
    </a>
</li>
<li class="nav-item active">
    <a href="http://127.0.0.1:8000/manager-test" class="nav-link link-body-emphasis">
        <i class="fa fa-calendar"></i><h5>Отказы</h5>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis">
        <i class="fa fa-calendar"></i><h5>Возвраты</h5>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis">
        <i class="fa fa-user-circle"></i><h5>Клиенты</h5>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis">
        <i class="fa fa-gauge-high"></i><h5>Дашбоард</h5>
    </a>
</li>
{% endblock %}

<!-- main content-block -->
{% block main-content %}
<div id="content-block" class="content-block">
    <div class="up-checkbox-container">
        <h2 class="name-checkbox">Было на утро</h2>

        <label class="checkbox-label">
            <input type="checkbox">
            <span class="checkbox-switch"></span>
        </label>

        <h2 class="name-checkbox">На сейчас <p>По плану утра</p></h2>
    </div>

    <div class="region-block">
        
        <div class="region region-eu">

            <div class="region-name">
                <h1>89%</h1>
                <h1>EU</h1>
            </div>

            <div class="manager-block">
                <div class="manager">
                    <h2 class="manager-name">Ирина</h2>
                    <ul class="list-group">
                      <li class="list-group-item" data-id="1" draggable="true">
                        <img src="{% static 'manager-test/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="2" draggable="true">
                        <img src="{% static 'manager-test/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="3" draggable="true">
                        <img src="{% static 'manager-test/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="4" draggable="true">
                        <img src="{% static 'manager-test/img/binance-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="5" draggable="true">
                        <img src="{% static 'manager-test/img/revolut-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="6" draggable="true">
                        <img src="{% static 'manager-test/img/revolut-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="7" draggable="true">
                        <img src="{% static 'manager-test/img/wise-logo.png' %}" draggable="false" alt="">
                      </li>
                      <li class="list-group-item" data-id="8" draggable="true">
                        <img src="{% static 'manager-test/img/wise-logo.png' %}" draggable="false" alt="">
                      </li>
                    </ul>
                </div>
              
                <div class="manager">
                    <h2 class="manager-name">Дмитрий</h2>
                    <ul class="list-group"></ul>
                </div>
              
                <div class="manager">
                    <h2 class="manager-name">Геннадий</h2>
                    <ul class="list-group"></ul>
                </div>
              
                <div class="manager">
                    <h2 class="manager-name">Максим</h2>
                    <ul class="list-group"></ul>
                </div>
            </div>
        </div>

                
        <div class="region region-ru">

            <div class="region-name">
                <h1>75%</h1>
                <h1>RU</h1>
            </div>

            <div class="manager-block">
                <div class="manager">
                    <h2 class="manager-name">Ирина</h2>
                    <ul class="list-group"></ul>
                </div>
                <div class="manager">
                    <h2 class="manager-name">Генадий</h2>
                    <ul class="list-group"></ul>
                </div>
                <div class="manager">
                    <h2 class="manager-name">Дима</h2>
                    <ul class="list-group"></ul>
                </div>
                <div class="manager">
                    <h2 class="manager-name">Антон</h2>
                    <ul class="list-group"></ul>
                </div>
            </div>

        </div>

    </div>


    <footer class="mt-5 mb-3">
        <h5>@ 2023 Synergy Company</h5>
    </footer>
</div>
{% endblock %}

<!-- main pop-window-block -->
{% block main-pop-window %}
{% endblock %}


<!-- main scripts-block -->
{% block main-scripts %}
<script src="{% static 'manager/js/jquery.js' %}"></script>
<script src="https://kit.fontawesome.com/419032dc53.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'manager/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'manager-test/js/main.js' %}"></script>
<script src="{% static 'manager-test/js/drag-and-drop.js' %}"></script>
{% endblock %}