{% extends '--main/main.html' %}
{% load static %}

<!-- head block -->
{% block title %}Отказы {% endblock %}
{% block main-styles %}
<!-- standart-styles -->
<link rel="stylesheet" href="{% static 'production/css/main.css' %}">
<link rel="stylesheet" href="{% static 'production/css/window.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.css" integrity="sha512-SWjZLElR5l3FxoO9Bt9Dy3plCWlBi1Mc9/OlojDPwryZxO0ydpZgvXMLhV6jdEyULGNWjKgZWiX/AMzIvZ4JuA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

<!-- main content-block -->
{% block main-content %}
    <div class="up-container">
        <div class="checkbox-block">
            <h2 class="head-name checkbox-name">Было на утро</h2>

            <label class="checkbox-label">
                <input type="checkbox">
                <span class="checkbox-switch"></span>
            </label>

            <h2 class="head-name checkbox-name">На сейчас <p>По плану утра</p></h2>
        </div>
        
        <div class="zoom-level-block">
            <h2 class="head-name zoom-level-name">Масштаб</h2>

            <div class="zoom-level">
                <input type="text" value="100">
            </div>
        </div>
    </div>

    <div class="region-block">

        {% for direction in directions %}
        <div class="region region-eu" id="{{direction.id_name}}">

            <div class="region-name">
                <h2>{{direction.name}}</h2>
            </div>

            <div class="manager-block">
                {% for reg in direction.reg_directions.all %}
                <div class="manager" id="{{reg.id}}">
                    <h2 class="manager-name">{{reg}}</h2>
                    <div class="exchange-group">
                        {% for task in tasks %}
                        {% if task.reg == reg.reg %}
                        <div class="exchange-group-item" oncontextmenu="openForm(event, {{ task.quantity }})"
                             data-id="{{task.id}}" draggable="true">
                            <p>№: {{ task.product.order }}</p>
                            <p>Биржа: {{ task.product.exchange }} {{ task.product.exchange.exchange_type }}</p>
                            <p>Кол-во: {{ task.quantity }}</p>
                            <p>Кол-во сделанных: {{ task.ready }}</p>
                            <p>Статус: {{ task.status }}</p>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}


        <div class="region region-ru">

            <div class="region-name">
                <h1></h1>
                <h1>Регистраторы</h1>
            </div>

            <div class="manager-block">
                <div class="manager">
                    {% for reg in reg_new %}
                    <div id={{ reg.id }}>
                        Имя: {{ reg.username }}
                        ID: {{ reg.id }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="new-orders">
        <div class="orders-block-name">
            <h5 class="orders-name">НОВЫЕ ЗАКАЗЫ</h5>
        </div>
        <div class="orders-list-block">
            {% for exchange_type in exchange_types %}
            <div class="orders-list">
                <div class="exchange-name">
                    <h2 class="region-name">{{ exchange_type }}</h2>
                </div>
                <div class="exchange-group" data-id="{{exchange_type.id}}" >
                    {% for product in processed_orders %}
                        {% if exchange_type == product.exchange.exchange_type %}
                        <div class="exchange-group-item" draggable="true" data-id="{{product.id}}">
                            {{ product }}
                            {{ product.remainder }}
                            {{ product.exchange }}
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<div id="formPopup">
  <form>
    <label for="dropdown1">Кому?</label><br>
    <select id="dropdown1">
      <option value="option1">Опция 1</option>
      <option value="option2">Опция 2</option>
      <option value="option3">Опция 3</option>
    </select><br>

    <label for="slider">Сколько?</label><br>
    <input type="range" id="slider" name="slider" min="0" max="3" value="3"><br>
    <span id="sliderValue">3</span><br>

    <label for="dropdown2">Порядок:</label><br>
    <select id="dropdown2">
      <option value="option1">1</option>
      <option value="option2">2</option>
      <option value="option3">3</option>
    </select><br>

    <button type="submit">Отправить</button>
  </form>
</div>

<script>

  const slider = document.getElementById('slider');
  const sliderValue = document.getElementById('sliderValue');

  slider.addEventListener('input', function() {
    sliderValue.textContent = slider.value;
  });
</script>
{% endblock %}


<!-- main pop-window-block -->
{% block main-pop-window %}
<div id="view-manager" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="view_manager_close()"></i>
        <div class="pop-window-block">
            <h2 class="pop-window-name">Менеджер: <span class="pop-window-manager">User</span></h2>
            <div class="pop-window-top-block">
                <h5 class="pop-window-top-name">Топ бирж умеет:</h5>
                <h5 class="pop-window-top-element">RevoEU</h5>
                <h5 class="pop-window-top-element">ByBitEU</h5>
                <h5 class="pop-window-top-element">Zen EU</h5>
                <h5 class="pop-window-top-element">Nebeus EU</h5>
                <h5 class="pop-window-top-element">Bunq EU</h5>
            </div>
        </div>
    </div>
</div>
<div id="move-manager" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="move_manager_close()"></i>
        <div class="pop-window-block">
            <h2 class="pop-window-name">Менеджер: <span class="pop-window-manager">User</span></h2>
            <div class="pop-window-move-block">
                Переместить куда:
            </div>
        </div>
    </div>
</div>
<div id="remove-manager" class="pop-window">
    <div class="pop-container">
        <i href="javascript:void(0)" class="fa fa-times pop-window-close-btn" onclick="remove_manager_close()"></i>
        <div class="pop-window-block">
            <button class="pop-window-btn pop-window-remove-btn">Удалить</button>
        </div>
    </div>
</div>
{% endblock %}

<!-- main scripts-block -->
{% block main-scripts %}
<script src="{% static 'production/js/main.js' %}"></script>
<script src="{% static 'production/js/drag-and-drop.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.min.js" integrity="sha512-878jmOO2JNhN+hi1+jVWRBv1yNB7sVFanp2gA1bG++XFKNj4camtC1IyNi/VQEhM2tIbne9tpXD4xaPC4i4Wtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.js" integrity="sha512-kvg/Lknti7OoAw0GqMBP8B+7cGHvp4M9O9V6nAYG91FZVDMW3Xkkq5qrdMhrXiawahqU7IZ5CNsY/wWy1PpGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}